@model IEnumerable<WebMVC_OrderForm.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title_"><strong>Phone Detail Information</strong></div>

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Phone Name</th>
        <th>Quanlity</th>
        <th>Phone Type</th>
        <th>Price</th>
        <th>Color</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.type)
    </td>
    <td>
        @{string price = Convert.ToDecimal(item.price.ToString()).ToString("C0");}
        @price
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.color)
    </td>
</tr>
}
</table>
