@model WebMVC_OrderForm.Models.CART

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CART</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.vendorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.vendorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
