@model IEnumerable<WebMVC_OrderForm.Models.CART>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title_"><strong>CART</strong></div>

<h3>The list of phones added</h3>
<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Phone Name</th>
        <th>Price</th>
        <th>Quanlity</th>
    </tr>
    @{double total = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @{ total += Convert.ToDouble(item.Product.price * item.quantity);}
                @{string price = Convert.ToDecimal(item.Product.price.ToString()).ToString("C0");}
                @price
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { CustomerID = item.CustomerID, productID = item.productID })|
                @Html.ActionLink("Edit", "Edit", new { CustomerID = item.CustomerID, productID = item.productID })
            </td>
        </tr>
    }
</table>
@{string result = total.ToString("C0");}
<h3>Total: @result</h3>
<input type="submit" value="Order" class="button-add" />
