@model IEnumerable<WebMVC_OrderForm.Models.CART>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>The cart of @Html.DisplayNameFor(model => model.Customer.fullname)</h3> 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @{string price = Convert.ToDecimal(item.Product.price.ToString()).ToString("C0");}
                @price
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>>
            <td>
                @Html.ActionLink("Delete", "Delete", new { CustomerID = item.CustomerID, productID = item.productID })|
                @Html.ActionLink("Edit", "Edit", new { CustomerID = item.CustomerID, productID = item.productID })
            </td>
        </tr>
    }

</table>
