@model WebMVC_OrderForm.Models.OrderForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.addrress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addrress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
