@model IEnumerable<WebMVC_OrderForm.Models.OrderForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<div class="title_"><strong>Order Form</strong></div>

<table class="table table-bordered">
    <tr>
        <th>Address</th>
        <th>Status Payment</th>
        <th>Status</th>
        <th>Delivery Date</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.addrress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                <button class="button-action">
                    @Html.ActionLink("Edit", "Edit", new { id = item.orderID }, new { @class = "btn-name" })
                </button>

                <button class="button-action">
                    @Html.ActionLink("Details", "../DetailOrderForms/", new { orderID = item.orderID }, new { @class = "btn-name" })
                </button>

                <button class="button-action">
                    @Html.ActionLink("Delete", "Delete", new { id = item.orderID }, new { @class = "btn-name" })
                </button>
                </td>
        </tr>
     }
</table>

<button class="button-add">
    @Html.ActionLink("Create", "Create", null, new { @class = "btn-name" })
</button>
