@model IEnumerable<WebMVC_OrderForm.Models.OrderForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.addrress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.addrress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deliveryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderID }) |
            @Html.ActionLink("Details", "../DetailOrderForms/Index", new { orderID = item.orderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderID })
        </td>
    </tr>
}

</table>
