@model IEnumerable<WebMVC_OrderForm.Models.Product>

@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<div class="title_"><strong>The products are available in the inventory</strong></div>

<table class="table table-bordered">
    <tr>
        <th>Phone Name</th>
        <th>Quanlity</th>
        <th>Phone Type</th>
        <th>Price</th>
        <th>Color</th>
        <th>Vendor Name</th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @{string price = Convert.ToDecimal(item.price.ToString()).ToString("C0");}
            @price
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.vendorName)
        </td>
        <td>
            <button class="button-action">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn-name" })
            </button>

            <button class="button-action">
                @Html.ActionLink("Detail", "Details", new { id = item.ProductID }, new { @class = "btn-name" })
            </button>

            <button class="button-action">
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn-name" })
            </button>
        </td>
    </tr>
}

</table>
