@model WebMVC_OrderForm.Models.DetailOrderForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetailOrderForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.vendorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.vendorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.vendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.vendorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { orderID = ViewBag.orderID, vendorID = ViewBag.vendorID, productID = ViewBag.productID}) |
    @Html.ActionLink("Back to List", "Index", new { orderID= ViewBag.orderID})
</p>
