@model IEnumerable<WebMVC_OrderForm.Models.DetailOrderForm>

@{
    ViewBag.Title = "The list of" + ViewBag.orderID;
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<div class="title_"><strong>Details of order: @ViewBag.orderID</strong></div>

<p>
    @Html.ActionLink("Add New Product", "Create", new { orderID = @ViewBag.orderID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.vendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.vendorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.vendorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.vendorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { orderID = item.orderID, productID = item.productID, vendorID = item.vendorID }) |
                @Html.ActionLink("Details", "Details", new { orderID = item.orderID, productID = item.productID, vendorID = item.vendorID }) |
                @Html.ActionLink("Delete", "Delete", new { orderID = item.orderID, productID = item.productID, vendorID = item.vendorID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to list", "../OrderForms")
