@model IEnumerable<WebMVC_OrderForm.Models.DetailOrderForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var firstItem = Model.FirstOrDefault();
}
@if (firstItem != null)
{
    <h2>Details of order: @firstItem.orderID</h2>
    
}
<p>
    @Html.ActionLink("Create New", "Create", new { orderID= @firstItem.orderID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.vendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.vendorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.vendorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.vendorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
